<ion-header class="header">
    <div class="recuadro">
        <img src="../../assets/img/bienestar.svg" alt="Bienestar a la carta" width="50%" height="auto">
    </div>
</ion-header>
<ion-content padding>
    <form [formGroup]="credentials" (ngSubmit)="login(form)">
        <ion-grid>
            <ion-row color="primary" justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <div padding>
                        <ion-item>
                            <ion-input name="text" type="text" placeholder="Usuario" formControlName="text" ngModel required></ion-input>
                        </ion-item>
                        <div *ngIf="(text.dirty || text.touched) && text.errors" class="errors">
                            <span *ngIf="text.errors?.required">User is required</span>
                            <span *ngIf="text.errors?.text">User is invalid</span>
                        </div>
                        <ion-item>
                            <ion-input name="password" type="password" placeholder="Contraseña" formControlName="password" ngModel required></ion-input>
                        </ion-item>
                        <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
                            <span *ngIf="password.errors?.required">Password is required</span>
                            <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
                        </div>
                    </div>
                    <div padding>
                        <ion-button size="large" type="submit" [disabled]="!credentials.valid" expand="block" style="background-color: chocolate;">Ingresar</ion-button>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <div class="log center">
                    <a><span>¿Olvidó su contraseña?</span></a>
                    <a><span>Registrarse</span></a>
                </div>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar>
        <img class="w-50 mg-top-30 center" src="../../assets/img/compensar.svg" width="50%" height="auto" alt="Compensar">
        <div class="text-center pad-0">
            <p class="text" style="    font-size: small;
          text-align: center;
          font-family: 'Ionicons';"><strong>COMPENSAR - BIENESTAR A LA CARTA</strong></p>
            <p class="text" style="    font-size: small;
          text-align: center;
          font-family: 'Ionicons';">&copy;Todos los derechos reservados - 2020</p>
            <p class="text" style="    font-size: small;
          text-align: center;
          font-family: 'Ionicons';">Desarrollado por <strong>ADN Software</strong></p>
        </div>
    </ion-toolbar>
</ion-footer>