# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www


# System Files
.DS_Store
Thumbs.db
/WSBienastarAlaCartaV3/.vs/WSBienastarAlaCartaV3/v16/Server/sqlite3
