ion-menu ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, rgb(255, 255, 255)));
}

ion-menu.md ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

ion-menu.md ion-list {
    padding: 20px 0;
}

ion-menu.md ion-note {
    margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
    padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
    border-bottom: 1px solid var(--ion-color-step-150, #010713e8);
}

ion-menu.md ion-list#inbox-list ion-list-header {
    font-size: 22px;
    font-weight: 600;
    min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
    font-size: 16px;
    margin-bottom: 18px;
    color: #757575;
    min-height: 26px;
}

ion-menu.md ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: 4px;
}

ion-menu.md ion-item.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
    color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
    color: #616e7e;
}

ion-menu.md ion-item ion-label {
    font-weight: 500;
}

ion-menu.ios ion-content {
    --padding-bottom: 20px;
}

ion-menu.ios ion-list {
    padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
    line-height: 24px;
    margin-bottom: 20px;
}

ion-menu.ios ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
    color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
    font-size: 24px;
    color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
    margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
    padding-left: 16px;
    padding-right: 16px;
}

ion-menu.ios ion-note {
    margin-bottom: 8px;
}

ion-note {
    display: contents;
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 700;
    text-transform: uppercase;
}

ion-item.selected {
    --color: var(--ion-color-primary);
}

#menu {
    background: rgba(0, 0, 0, 0.95);
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 15px;
    right: 100%;
    transition: ease-in-out .5s;
    z-index: 99;
}

#menu h3 {
    color: #fff;
    font-family: "Akrobat", sans-serif;
    font-size: 1.4375rem;
    font-weight: 500;
    text-transform: uppercase;
}

#menu hr {
    border-color: #555;
}

#menu .item {
    list-style: none;
    margin: 1.25rem 0.625rem;
}

#menu .item img {
    width: 55px;
    padding: 0 1.25rem 0 0;
}

#menu .item span {
    color: #999;
    font-family: "Akrobat", sans-serif;
    font-size: 1.4375rem;
    font-weight: 700;
    vertical-align: super;
    text-transform: uppercase;
}

#menu .item span.active {
    color: #29b0be;
}

#menu .item .submenu {
    padding-left: 2.1875rem;
}

#menu .item .submenu li {
    list-style: none;
    margin: 0.3125rem 0;
}

#menu .item .submenu li img {
    width: 40px;
}

#menu .item .submenu li span {
    color: #fff;
    font-size: 1.3125rem;
    font-weight: 500;
    vertical-align: text-bottom;
    text-transform: capitalize;
}

#menu.active {
    right: 0%;
}

.active {
    --ion-text-color: var(--ion-color-primary);
    ion-icon {
        --ion-text-color-rgb: var(--ion-color-primary)
    }
}

.active-parent {
    font-weight: 500;
}

.sub-item {
    padding-left: 20px;
    font-size: small;
}