<ion-app>
    <ion-header *ngIf="strColorEmpresa" class="header" [ngStyle]="{background:strColorEmpresa}">
        <div class="recuadro">
            <img *ngIf="srtLogoEmpresa" [src]="srtLogoEmpresa" [alt]="srtNombreEmpresa" width="50%" height="auto">
            <!-- <img *ngIf="srtLogoEmpresa" src="../../assets/img/bienestar.svg" width="50%" height="auto"> -->

        </div>
    </ion-header>
    <ion-header *ngIf="!strColorEmpresa" class="header" style="background-color: rgb(223, 148, 94);">
        <div class="recuadro">
            <!-- <img *ngIf="srtLogoEmpresa" [src]="srtLogoEmpresa" [alt]="srtNombreEmpresa" width="50%" height="auto"> -->
            <img *ngIf="!srtLogoEmpresa == null" src="../../assets/img/bienestar.svg" width="50%" height="auto">
            <img *ngIf="srtLogoEmpresa == null" src="../../assets/img/bienestar.svg" width="50%" height="auto">
        </div>
    </ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="start" (click)="regresar()">
            <ion-icon name="arrow-back-outline"></ion-icon>

            <!-- <ion-back-button defaultHref="folder/{{IdCategoria}}"></ion-back-button> -->
        </ion-buttons>
        <ion-row>
            <ion-col>
                <div class="profile left-auto">
                    <a class="vert-center car" (click)="verCarrito()">
                        <img class="" src="../../assets/img/carrito.svg" alt="Shop">
                        <ion-badge color="danger" slot="end">{{numCarrito}}</ion-badge>
                    </a>
                    <ion-avatar class="vert-center you">
                        <img src="../../assets/img/profile.png" alt="Your profile">
                    </ion-avatar>

                    <!-- <a class="vert-center you" href="#">
                        <img class="" src="../../assets/img/perfil.svg" alt="Your profile">
                    </a> -->
                </div>
            </ion-col>
        </ion-row>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar (ionInput)="filterList($event)"></ion-searchbar>
    </ion-toolbar>
    <a class="seccion" [ngClass]="strEstiloBoton" [ngStyle]="{background:strEstiloCuadro}">
        <img src="../../assets/img/tiempo-int.svg" alt="">
        <p>{{nombreCategoria}}</p>
    </a>
    <!-- <ion-content [fullscreen]="true">
        <a class="seccion" [ngClass]="strEstiloBoton" [ngStyle]="{background:strEstiloCuadro}">
            <img src="../../assets/img/tiempo-int.svg" alt="">
            <p>{{nombreCategoria}}</p>
        </a>
        <ion-row>
            <ion-col>
                <article *ngFor="let item of itemsProduct; let i = index">
                    <h3>{{item.strDescripcion}}</h3>
                    <div class="puntos">
                        <div class="puntaje">
                            <img class="center" src="../../assets/img/like-b.svg" alt="">
                            <p class="text-center">{{item.intNroPuntosReq}} PUNTOS</p>
                        </div>
                        <img class="w-100" [src]="item.strImagenProducto64" alt="">
                    </div>
                    <div class="stars">
                        <img src="../../assets/img/star.svg" alt="">
                        <img src="../../assets/img/star.svg" alt="">
                        <img src="../../assets/img/star.svg" alt="">
                        <img src="../../assets/img/star.svg" alt="">
                        <img src="../../assets/img/star.svg" alt="">
                    </div>
                    <div class="mg-top-0 choose">
                        <ion-row>
                            <ion-col>
                                <p *ngIf="item.logIlimitado"><strong>Existencias:</strong><br> Ilimitado</p>
                                <p *ngIf="!item.logIlimitado"><strong>Existencias:</strong><br> limitado</p>
                                <ion-button class="bg-sky w-100" expand="full" (click)="abrirModal(item)">
                                    VER DETALLES
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                    <div class="mg-top-0 choose">

                        <ion-item>
                            <ion-label position="floating">Cantidad</ion-label>
                            <ion-input type="number" maxlength="10"></ion-input>
                        </ion-item>
                        <ion-button color="success" expand="full" (click)="agregarAlCarro(item)">
                            ADICIONAR <img class="float-right" src="../../assets/img/carro.svg" width="18%" height="auto" alt="">
                        </ion-button>
                    </div>
                </article>
            </ion-col>
           
        </ion-row>

        
    </ion-content> -->

    <ion-content>
        <ion-card *ngFor="let item of itemsProduct; let i = index">
            <ion-card-header>
                <ion-card-title>{{item.strDescripcion}}</ion-card-title>
            </ion-card-header>
            <div class="puntos">
                <div class="puntaje">
                    <img class="center" src="../../assets/img/like-b.svg" alt="">
                    <p class="text-center">{{item.intNroPuntosReq}} PUNTOS</p>
                </div>
                <img class="w-100" [src]="item.strImagenProducto64" alt="">
            </div>
            <ion-card-content>
                <div class="stars">
                    <img src="../../assets/img/star.svg" alt="">
                    <img src="../../assets/img/star.svg" alt="">
                    <img src="../../assets/img/star.svg" alt="">
                    <img src="../../assets/img/star.svg" alt="">
                    <img src="../../assets/img/star.svg" alt="">
                </div>
                <p *ngIf="item.logIlimitado"><strong>Existencias:</strong><br> Ilimitado</p>
                <p *ngIf="!item.logIlimitado"><strong>Existencias:</strong><br> limitado</p>
                <!-- <ion-label position="floating">Cantidad</ion-label>
                <ion-input type="number" maxlength="10"></ion-input> -->
            </ion-card-content>
            <ion-footer>
                <ion-row>
                    <ion-col center text-center>
                        <ion-button color="success" expand="full" (click)="agregarAlCarro(item)">
                            ADICIONAR <img class="float-right" src="../../assets/img/carro.svg" width="18%" height="auto" alt="">
                        </ion-button>
                    </ion-col>
                    <ion-col center text-center>
                        <ion-button expand="full" class="bg-sky w-100" (click)="abrirModal(item)">
                            VER DETALLES
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-footer>
        </ion-card>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-content>

    <ion-footer class="ion-no-border">
        <ion-toolbar>
            <img class="w-50 mg-top-30 center" src="../../assets/img/compensar.svg" width="50%" height="auto" alt="Compensar">
            <div class="text-center pad-0">
                <p class="text" style="    font-size: small;
          text-align: center;
          font-family: 'Ionicons';"><strong>COMPENSAR - BIENESTAR A LA CARTA</strong></p>
                <p class="text" style="    font-size: small;
          text-align: center;
          font-family: 'Ionicons';">&copy;Todos los derechos reservados - 2020</p>
                <p class="text" style="    font-size: small;
          text-align: center;
          font-family: 'Ionicons';">Desarrollado por <strong>ADN Software</strong></p>
            </div>
        </ion-toolbar>
    </ion-footer>
</ion-app>