<ion-app>
    <ion-header *ngIf="strColorEmpresa" class="header" [ngStyle]="{background:strColorEmpresa}">
        <div class="recuadro">
            <img *ngIf="srtLogoEmpresa" [src]="srtLogoEmpresa" [alt]="srtNombreEmpresa" width="50%" height="auto">
            <!-- <img *ngIf="srtLogoEmpresa" src="../../assets/img/bienestar.svg" width="50%" height="auto"> -->

        </div>
    </ion-header>
    <ion-header *ngIf="!strColorEmpresa" class="header" style="background-color: rgb(223, 148, 94);">
        <div class="recuadro">
            <!-- <img *ngIf="srtLogoEmpresa" [src]="srtLogoEmpresa" [alt]="srtNombreEmpresa" width="50%" height="auto"> -->
            <img *ngIf="!srtLogoEmpresa == null" src="../../assets/img/bienestar.svg" width="50%" height="auto">
            <img *ngIf="srtLogoEmpresa == null" src="../../assets/img/bienestar.svg" width="50%" height="auto">
        </div>
    </ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-row>
            <ion-col>
                <div class="profile left-auto">
                    <a class="vert-center car" (click)="verCarrito()">
                        <img class="" src="../../assets/img/carrito.svg" alt="Shop">
                        <ion-badge color="danger" slot="end">{{numCarrito}}</ion-badge>
                    </a>
                    <ion-avatar class="vert-center you">
                        <img src="../../assets/img/profile.png" alt="Your profile">
                    </ion-avatar>

                    <!-- <a class="vert-center you" href="#">
                  <img class="" src="../../assets/img/perfil.svg" alt="Your profile">
              </a> -->
                </div>
            </ion-col>
        </ion-row>
    </ion-toolbar>
    <ion-toolbar>
        <ion-segment value="all">
            <ion-segment-button (click)="evento()" value="evento">
                <ion-icon name="happy"></ion-icon>
                <ion-label>Evento</ion-label>
            </ion-segment-button>
            <ion-segment-button (click)="noticia()" value="noticia">
                <ion-icon name="newspaper"></ion-icon>
                <ion-label>Noticia</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <ion-content>
        <a class="seccion bg-pink">
            <img src="../../assets/img/eventos-int.svg" width="14%" height="auto" alt="">
            <p>EVENTOS INTERNOS</p>
        </a>
        <form>
            <ion-grid>
                <ion-row color="primary" justify-content-center>
                    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                        <div padding>
                            <ion-row>
                                <ion-col>
                                    <h3>AGUINALDO NAVIDEÑO</h3>
                                    <p>* Completa el siguiente formulario</p>
                                </ion-col>
                            </ion-row>
                            <ion-item>
                                <ion-label position="floating">Identificación</ion-label>
                                <ion-input type="text"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating">Nombres y apellidos</ion-label>
                                <ion-input type="text"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating">Proceso</ion-label>
                                <ion-input type="text" value="Proyectos"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating">Correo electronico</ion-label>
                                <ion-input type="email" value="soporte2@adnsoftware.com.co"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating">Aspiraciones del evento</ion-label>
                                <ion-textarea cols="30" rows="10" placeholder=""></ion-textarea>
                            </ion-item>
                        </div>
                        <div padding>
                            <ion-button size="large" type="submit" expand="block" style="background-color: chocolate;">INSCRIBIRSE</ion-button>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </ion-content>
</ion-app>