.profile {
    width: 150px;
}

.profile .car {
    right: 23%;
    height: 1.875rem;
    color: #ffffff;
}

.profile .car img {
    width: 1.875rem;
    color: #ffffff;
}

.title {
    text-align: initial;
    font-family: "Akrobat", sans-serif;
    text-transform: uppercase;
    font-size: smaller;
    font-weight: 700;
    padding-right: 15px;
    padding-left: 48px;
    color: #ffffff;
}

.vert-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.seccion {
    height: 3.75rem;
    padding: 1.3125rem 0.25rem;
    display: inline-flex;
    width: 100%;
}

.stars {
    margin-top: 0.3125rem;
}

.stars img {
    width: 1.875rem;
    margin: 0 0.1875rem;
}

.float-right {
    float: right;
}

.edit ion-button {
    border: none;
    font-size: 1.0625rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #ffffff;
}

.edit ion-button img {
    width: 1.125rem;
    transform: translate(-15px, -2px);
}

#cantidad {
    padding-bottom: 8px;
    padding-top: 22px;
}